*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-image: url("../img/jumbo.png");
    background-size: 100%;
    padding-top: 25px;
    padding-bottom: 200px;

}

body{
    font-family: 'Whitney', sans-serif;
}

.font{
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
}



/* * HEADER */

.flexcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0px auto;
}

h1{
    margin: 25px 0px;
    font-size: 3em;

}

.col{
    width: calc(100% / 3);
}
nav{
    text-align: center;
}

.col li{
    color:white;
    display: inline;
    margin: 0 25px;
}

.flexcontainer :nth-child(2){
    width: calc(100% / 1);
}

.footer-first{
    margin-top: 50px;
    padding: 25px 0px;
    width: 100%;
}

.header-main{
    text-align: center;
    color: white;
}

.header-main p{
    border: 1px solid black;
    font-size: 1.5em;
}

/* Bottoni */

.default-btn{
    padding: 10px 15px;
    font-size: 1.25em   ;
    background-color: white;
    border-radius: 100px;
    text-decoration: none;

}

.black-btn{
    background-color: #23272A;
    color: white;

}

/* TODO: MAIN */



.container{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;

}
.row{
    display: flex;

}
.row div{
    border: 2px dashed black;
}
.big{
    width: calc(100% / 1.5);
    height: 400px;
    background-color: #1E90FF;
}


.small{
    width: calc(100% / 3);
    background-color: pink;
}

.graybg{
    background-color: #D3D3D3;

}

.greenbig{
    width: 1000px;
    height: 700px;
    background-color: #228B22;

}

footer{
padding: 10px;
background-color: #23272A;

}

.col-2,
.col-4{
    height: 500px;
    border: 2px dashed black;
}
hr{
    margin: 10px auto;
    border: 1px solid white;
}

.col-2{
    width: calc(100% / 3);
    background-color: #F08080;
}

.col-4{
    width: calc(100% / 1.5);
    background-color: #20B2AA;
    display: flex;
    

}
footer .container{
    display: flex;

}

.whiteb{
    border: 2px white dashed;

}

.endfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    height: 75px;
    background-color: #7FFFD4;

}

.endfooter span{
    background-color: #FFB6C1;
    padding: 5px;
    border: 2px dashed black;

}